.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: grid;
    grid-template-rows: min-content;
    text-decoration: none;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: 1.1rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    color: #ffff;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .925rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    list-style: none;
}

.pokemon .detail img {
    max-width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    
}

.p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-top: 12%;
    place-content: center;
    z-index: 999;
    visibility: hidden;
}

.p .pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 40px;
    width: 650px;
    position: relative;
}

.p .pokemon::before {

    position: absolute;
    content: '';
    height: 300%;
    width: 173px;
    top: -60px;
    left: -125px;
    z-index: 0;

}
.p-image {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.p-image img {
    width: 150px;
    height: 200px;
    object-fit: cover;

}

.p .detail2 {
    text-align: left;
    color: white;
}

.p .detail2 h3 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    font-family: bebas neue;

}

.p .detail2 .types {
    list-style: none;
}

.p .detail2 p {
    font-size: 14px;
    margin-bottom: 2px;

}

.p .detail2 p span {
    font-weight: 700;
    margin-right: 10px;

}

.p .number {
    color: #fff;
    font-size: 20px;
}

.p .detail {
    display: grid;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 100%;
    margin: 3px;
}

.p .detail .types {
    
    font-size: 30px;
}

h3 {
    margin: .5em;
}


.p:target {
    visibility: visible;
}

.voltar {
    background-color: orange;
    height: 40px;
    color: white;
    font-size: 18px;
    padding: 9px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}



.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



@media screen and (min-width: 380px) {
    .p .pokemon {
        flex-direction: column;
    }
}


@media screen and (min-width: 992px) {
    .p .pokemon{
        flex-direction: row;
        align-items: flex-start;
    }
    .p-image {
        margin-right: 20px;
        margin-bottom: 0;

    }

    .detail2 {
        text-align: left;
    }

}

@media (max-width: 767px) {

    .p {
        padding-top: 3%;

    }

    .p .pokemon::before {
        width: 300%;
        height: 200px;

    }

    .detail2 {
        margin-top: 25px;
        font-size: 25px;
        
    }

    .detail2 p span {
        display: block;
        margin-bottom: 15px;
        font-size: 10px;

    }



    }